<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Message Sent</title>
    <link rel="shortcut icon" href="" />
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
</head>

<body>
    <br /><br />
    <div>
        <img src="static/images/done.svg" class="center" style="height: 250px; width: 100%;">
    </div>
    <br /><br /><br /><br />
    <div class="jumbotron text-center" style="overflow:hidden;">
        <h1 class="display-3" style="font-family: 'Fredoka One';">Thank You!</h1>
        <h4 class="display-4" style="word-wrap:break-word;font-family: 'Fredoka One';"> {{name}} </h4>
        <p class="lead"><strong>Great! Your name is with us,</strong> See you in the next session!</p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="#" onclick="history.go(-1); return false;" role="button">Go back</a>
        </p>
    </div>

    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        h1,
        p {
            text-align: center;
        }
    </style>
</body>

</html>